{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
	{% assign year = this_year %}
	{% unless forloop.first %}
		</ul>
	{% endunless %}
	<h3 class="year">{{ date | date: "%Y" }}</h3>
	<ul class="nostyle">
{% endunless %}
	<li>
		<span class="title"><a href="{{ post.url }}">{{post.title}}</a></span>
		<small class="date"><time datetime="{{ date | datetime | date_to_xmlschema }}" itemprop="datePublished">&mdash; {{ date | date: "%B %e" }}</time></small>
	</li>