<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      
      <p>
        <a href="/">
          <img src="/public/images/me.jpg" title="Dan Warner &middot; Author" />
        </a>
      </p>
      
      <h1>
        CTRL ALT DAN
      </h1>
      
      <p class="lead">
        .NET articles and other general programming
      </p>
    
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://github.com/dubs999">GitHub</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/dan999/">LinkedIn</a>
      <a class="sidebar-nav-item" href="https://stackoverflow.com/users/4786827/dan">Stack Overflow</a>
    </nav>

  </div>
</div>
