<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ my.baseurl }}">
          {{ title }}
        </a>
      </h1>
      <p class="lead">{{ description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://github.com/dubs999">GitHub</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/dan999/">LinkedIn</a>
      <a class="sidebar-nav-item" href="https://stackoverflow.com/users/4786827/dan">Stack Overflow</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
